<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.cropinformatics.org/sqlProperties"
            class="org.cropinformatics.sql.properties.PropertiesPackage"
            genModel="model/SQLUtilities.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="schema"
            class="org.cropinformatics.sql.properties.util.PropertiesResourceFactoryImpl"/>
   </extension>

</plugin>
