<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.daveneti.org/ui/configuration"
            class="org.daveneti.ui.configuration.ConfigurationPackage"
            genModel="model/configuration.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="configuration"
            class="org.daveneti.ui.configuration.util.ConfigurationResourceFactoryImpl"/>
   </extension>

</plugin>
