<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.cropinformatics.ui.ConfigurationFactory">
      <configurationFile
            file="/config/configuration.xml">
      </configurationFile>
   </extension>
<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.cropinformatics.ui.test.actionSet"
            label="Test Action Set"
            visible="true">
         <menu
               id="org.cropinformatics.ui.test.testMenu"
               label="Test Menu">
               <separator name="additions"/>
         </menu>
         <menu
               id="org.cropinformatics.ui.test.testMenu.general"
               label="General"
               path="org.cropinformatics.ui.test.testMenu/general">
               <separator name="additions"/>
         </menu>
         <action
               class="org.cropinformatics.ui.tests.actions.components.BasicComponentsTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.components.BasicComponentsTest"
               label="Basic Components Action"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/components"
               tooltip="Basic Components Action">
         </action>
          <action
               class="org.cropinformatics.ui.tests.actions.components.BasicComponentsWithExpandBarTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.components.BasicComponentsWithExpandBarTest"
               label="Basic Components Action (with Expand Bar)"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/components"
               tooltip="Basic Components Action (with Expand Bar)">
         </action>
         <action
               class="org.cropinformatics.ui.tests.actions.components.BasicComponentsWithTabFolderTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.components.BasicComponentsWithTabFolderTest"
               label="Basic Components Action (with Tab Folder)"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/components"
               tooltip="Basic Components Action (with Tab Folder)">
         </action>
         <action
               class="org.cropinformatics.ui.tests.actions.components.BasicComponentsWithCTabFolderTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.components.BasicComponentsWithCTabFolderTest"
               label="Basic Components Action (with CTab Folder)"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/components"
               tooltip="Basic Components Action (with CTab Folder)">
         </action>   
         
         <action
               class="org.cropinformatics.ui.tests.actions.dialogs.list.StringListDialogTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.dialogs.list.StringListDialogTest"
               label="String Selection"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/list"
               tooltip="Test String Selection">
         </action>
         <action
               class="org.cropinformatics.ui.tests.actions.dialogs.list.IdentificationListDialogTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.dialogs.list.IdentificationListDialogTest"
               label="Identification List"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/list"
               tooltip="Test Simple Identifier List">
         </action>
         
         <action
               class="org.cropinformatics.ui.tests.actions.dialogs.chooser.StringChooserDialogTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.actions.dialogs.chooser.StringChooserDialog"
               label="Object Chooser Dialog With Filter Test"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/chooser"
               tooltip="String Chooser">
         </action>   
         
         <action
               class="org.cropinformatics.ui.tests.actions.dialogs.mapping.StringMappingDialogTest"
               icon="icons/sample.gif"
               id="org.cropinformatics.ui.test.actions.dialogs.mapping.StringMappingDialogTest"
               label="String Mapping"
               menubarPath="org.cropinformatics.ui.test.testMenu/org.cropinformatics.ui.test.testMenu.general/mapping"
               tooltip="Test String Mapping">
         </action>     
      </actionSet>
   </extension>
</plugin>
